  <div class="footer">
    <ul class="list-inline ">
      <li class="list-inline-item"><a href="#">ご利用規約</a></li>
      <li class="list-inline-item"><a href="#">プライボリシー</a></li>
      <li class="list-inline-item"><a href="#">よくあるご質問</a></li>
      <li class="list-inline-item"><a href="#">お問い合わせ</a></li>
      <li class="list-inline-item"><a href="#">事業者専用リンク</a></li>
    </ul>
    <div class=footer_last>
      © 2019 DOGGY.com FROM KAGINO-J
    </div>

  </div>
