<div class="post__maincontent-posts">
  <div class="post__maincontent-posts-title">
    <i class="fas fa-user-circle fa-2x"></i>
    <a class="user_name" href="#">User_name</a>
    <div class="fas-modifier">
      <a href="#"><i class="fas fa-ellipsis-v"></i></a>
    </div>
  </div>
  <div class="post__maincontent-posts-image">
    <div id="carouselExampleControls<%=id%>" class="carousel slide">

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="/assets/pag.jpg" alt="第1スライド">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/assets/pag.jpg" alt="第2スライド">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/assets/pag.jpg" alt="第3スライド">
        </div>
      </div>

      <a class="carousel-control-prev" href="#carouselExampleControls<%=id%>" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">前へ</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls<%=id%>" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">次へ</span>
      </a>
    </div>
  </div>
  <div class="post__maincontent-posts-icons">
    <a href="#" class="post__maincontent-posts-icons-a"><i class="far fa-heart fa-2x"></i></a><span>12</span>
    <a href="#" class="post__maincontent-posts-icons-a"><i class="far fa-comment fa-2x"></i></a><span>12</span>
  </div>
  <div class="post__maincontent-posts-comments">
    犬犬犬犬犬犬犬犬犬犬犬犬.....<a href="#" class="tuzuki">続きを読む</a>
  </div>
  <div class="post__maincontent-posts-commentform">
    <input placeholder="コメントを入力...."></input>
  </div>

</div>
