<ul class="nav justify-content-center" style="background-color: #0b2345">
  <li class="nav-item">
    <a class="nav-link active" href="#">新規Dogg</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Dogg一覧</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">pick up</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">shop</a>
  </li>
</ul>
