<div class="users-registration">
  <div class="footer_modifier">
    <div class="register-form">
      <div class="input-form">
        <img class="doggy_logo" src="/assets/sakamaki_logo_black3.png">
        <form>
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Eメールアドレス">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="パスワード">
          </div>
          <button type="submit" class="btn btn-primary login">ログイン</button>
        </form>
        <div class="mataha">
          ---------------<span>または</span>---------------
        </div>
        <a href="#" class="facebook_a">
          <div class="facebook-login">
            <img class="facebook_logo" src="/assets/f_log.png">
            Facebookでログイン
          </div>
          パスワードを忘れた場合

        </a>
      </div>
    </div>



    <div class="change-form_register">
      <p>
        アカウントをお持ちではないですか？
      </p>
      <a href="#">
        登録
      </a>

    </div>
  </div>
  <%= render partial: "footer"%>
</div>
