<div class="usersSignin">
  <div class="footer_modifier">
    <div class="register-form">
      <div class="input-form">
        <img class="doggy_logo" src="/assets/sakamaki_logo_black3.png">
        <div class="registration-form__message">
          犬たちの「今」を残そう
        </div>
        <a class="btn btn-facebook_signin" href="#" role="button"><i class="fab fa-facebook-f"></i>Facebookでログイン</a>
        <div class="mataha">
          --------------------<span>または</span>--------------------
        </div>
        <form>
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Eメールアドレス">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="exampleInputUserName" placeholder="ユーザーネーム">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputPassword1" placeholder="パスワード">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputPassword2" placeholder="パスワード（確認）">
          </div>
          <button type="submit" class="btn btn-primary login">登録する</button>
        </form>

        <div class=confirmRegister>
          登録することで、DOGGY.comの<span>利用規約、データに関するポリシー、Cookieポリシー</span>に同意するものとします。
        </div>

      </div>
    </div>



    <div class="change-form_register">
      <p>
        アカウントをお持ちですか？
      </p>
      <a href="#">
        ログインする
      </a>

    </div>
  </div>
  <%= render partial: "footer"%>
</div>
