<%= render partial: "header"%>
<div class="post grandPart">
  <div class="container-fluid post__mainContent">
    <div class="row post_row ">

      <div class="post_row_left col-xs-12 col-sm-12 col-md-3 ">
      </div>

      <div class="post_row_right col-xs-12 col-sm-6 ">

        <div class="post__maincontent-posts">
          <div class="post__maincontent-posts-title">
            <i class="fas fa-user-circle fa-2x"></i>
            <a class="user_name" href="#">User_name</a>
            <div class="fas-modifier">
              <a href="#" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                <a class="dropdown-item" href="#">詳細</a>
                <a class="dropdown-item" href="#">削除</a>
              </div>
            </div>
          </div>
          <div class="post__maincontent-posts-image">
            <div id="carouselExampleControls1h" class="carousel slide">

              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="/assets/pag.jpg" alt="第1スライド">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="/assets/pag.jpg" alt="第2スライド">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="/assets/pag.jpg" alt="第3スライド">
                </div>
              </div>

              <a class="carousel-control-prev" href="#carouselExampleControls1h" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">前へ</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls1h" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">次へ</span>
              </a>
            </div>
          </div>
          <div class="post__maincontent-posts-icons">
            <a href="#" class="post__maincontent-posts-icons-a"><i class="far fa-heart fa-2x"></i></a><span>12</span>
            <a href="#" class="post__maincontent-posts-icons-a"><i class="far fa-comment fa-2x"></i></a><span>12</span>
          </div>
          <div class="post__maincontent-posts-text">
            犬犬犬犬犬犬犬犬犬犬犬犬犬
            <br>犬犬犬犬犬犬犬犬犬犬犬犬犬犬犬犬犬犬犬犬犬犬犬犬犬犬
            <br>犬犬犬犬犬犬犬犬犬犬犬犬犬犬犬犬犬犬犬犬犬犬犬犬犬犬
            <div class="post__maincontent-posts-hash">
              <a href="#">#パグ </a><a href="#">#パグ</a> <a href="#">#パグ</a> <a href="#">#パグ</a>
            </div>
          </div>
          <div class="post__maincontent-posts-comments">
            <div class="post__maincontent-posts-comments-comment">
              <div class="post__maincontent-posts-comments-comment-user">
                <i class="fas fa-user-circle fa-2x"></i>
                <a class="user_name" href="#">User_name</a>
              </div>
              <div class="post__maincontent-posts-comments-comment-text">
                かわいい
              </div>
            </div>
            <div class="post__maincontent-posts-comments-comment">
              <div class="post__maincontent-posts-comments-comment-user">
                <i class="fas fa-user-circle fa-2x"></i>
                <a class="user_name" href="#">User_name</a>
              </div>
              <div class="post__maincontent-posts-comments-comment-text">
                かわいい
              </div>
            </div>
            <div class="post__maincontent-posts-comments-comment">
              <div class="post__maincontent-posts-comments-comment-user">
                <i class="fas fa-user-circle fa-2x"></i>
                <a class="user_name" href="#">User_name</a>
              </div>
              <div class="post__maincontent-posts-comments-comment-text">
                かわいい
              </div>
            </div>
            <div class="post__maincontent-posts-comments-comment">
              <div class="post__maincontent-posts-comments-comment-user">
                <i class="fas fa-user-circle fa-2x"></i>
                <a class="user_name" href="#">User_name</a>
              </div>
              <div class="post__maincontent-posts-comments-comment-text">
                かわいい
              </div>
            </div>
          </div>
          <div class="post__maincontent-posts-commentform">
            <input placeholder="コメントを入力...."></input>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>



<%= render partial: "footer"%>
