<%= render partial: "header"%>
<div class="user_index grandPart">
  <div class="container-fluid">
    <div class="row user_index__row">
      <div class="col-xs-12 col-sm-12 col-md-4">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 main">
        <div class="main__title">
          ユーザー
        </div>
        <div class="main__serchbox">
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="検索">
        </div>
        <div class="main__users">
          <div class="main__users-user">
            <i class="fas fa-user-circle fa-2x"></i>
            <div class="main__users-user-name">
              <a class="user_name" href="#">User_name</a>
              <div class="dog_name" href="#">Dog_name</div>
            </div>
          </div>
          <div class="main__users-user">
            <i class="fas fa-user-circle fa-2x"></i>
            <div class="main__users-user-name">
              <a class="user_name" href="#">User_name</a>
              <div class="dog_name" href="#">Dog_name</div>
            </div>
          </div>
          <div class="main__users-user">
            <i class="fas fa-user-circle fa-2x"></i>
            <div class="main__users-user-name">
              <a class="user_name" href="#">User_name</a>
              <div class="dog_name" href="#">Dog_name</div>
            </div>
          </div>
          <div class="main__users-user">
            <i class="fas fa-user-circle fa-2x"></i>
            <div class="main__users-user-name">
              <a class="user_name" href="#">User_name</a>
              <div class="dog_name" href="#">Dog_name</div>
            </div>
          </div>
          <div class="main__users-user">
            <i class="fas fa-user-circle fa-2x"></i>
            <div class="main__users-user-name">
              <a class="user_name" href="#">User_name</a>
              <div class="dog_name" href="#">Dog_name</div>
            </div>
          </div>
          <div class="main__users-user">
            <i class="fas fa-user-circle fa-2x"></i>
            <div class="main__users-user-name">
              <a class="user_name" href="#">User_name</a>
              <div class="dog_name" href="#">Dog_name</div>
            </div>
          </div>
          <div class="main__users-user">
            <i class="fas fa-user-circle fa-2x"></i>
            <div class="main__users-user-name">
              <a class="user_name" href="#">User_name</a>
              <div class="dog_name" href="#">Dog_name</div>
            </div>
          </div>
          <div class="main__users-user">
            <i class="fas fa-user-circle fa-2x"></i>
            <div class="main__users-user-name">
              <a class="user_name" href="#">User_name</a>
              <div class="dog_name" href="#">Dog_name</div>
            </div>
          </div>
          <div class="main__users-user">
            <i class="fas fa-user-circle fa-2x"></i>
            <div class="main__users-user-name">
              <a class="user_name" href="#">User_name</a>
              <div class="dog_name" href="#">Dog_name</div>
            </div>
          </div>
          <div class="main__users-user">
            <i class="fas fa-user-circle fa-2x"></i>
            <div class="main__users-user-name">
              <a class="user_name" href="#">User_name</a>
              <div class="dog_name" href="#">Dog_name</div>
            </div>
          </div>
          <div class="main__users-user">
            <i class="fas fa-user-circle fa-2x"></i>
            <div class="main__users-user-name">
              <a class="user_name" href="#">User_name</a>
              <div class="dog_name" href="#">Dog_name</div>
            </div>
          </div>
          <div class="main__users-user">
            <i class="fas fa-user-circle fa-2x"></i>
            <div class="main__users-user-name">
              <a class="user_name" href="#">User_name</a>
              <div class="dog_name" href="#">Dog_name</div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial:"footer"%>
