      <div class="col-sm-6 col-md-4 user1">
        <div class="card img-thumbnail">
          <img class="card-img-top" src="assets/love.png" alt="人気ユーザー">
          <div class="card-body px-2 py-3">
            <h5 class="card-title">User_name</h5>
            <p class="card-text">コンテンツ コンテンツ コンテンツ コンテンツ</p>
          </div>
        </div>
      </div>
