// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carousel-inner {
  height: 520px;

  .carousel-item {
    height: 520px;
  }

  img {
    height: 520px;
    object-fit: cover;
  }
}

.titles {
  text-align: center;
  padding: 40px;
  font-size: 30px;
  font-weight: 10;
  color: #010A17;
}



.cards {
  margin-bottom: 10px;
}

@media(max-width: 670px) {
  .cards {
    text-align: center;
  }
}

.main1 {

  .picked_dog {
    display: inline-block;
    margin-bottom: 30px;
  }

  .card-img-overlay {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;

    .arrow_icon {
      padding-left: 43px;
      padding-top: 40px;
    }

    .card-title {
      margin-bottom: 0px;
    }

    p {
      padding-left: 15px;
    }
  }

  .under_line {
    border-bottom: solid 1px #E4E4E4;
  }

}

.main2 {
  padding-bottom: 60px;

  .col-md-3 {

    .card {
      &:hover {
        opacity: 0.7;
      }
    }

    a {
      color: black;
    }
  }

  .btn-block {
    width: 200px;
    background-color: #285ca6;
    border: none;

    &:hover {
      background-color: #285ca6;
      opacity: 0.7;
    }
  }
}

.main3 {
  background-color: #E4E4E4;
  padding-bottom: 50px;

  .card {
    &:hover {
      opacity: 0.7;
    }
  }

  .btn-block {
    width: 200px;
    background-color: #285ca6;
    border: none;

    &:hover {
      background-color: #285ca6;
      opacity: 0.7;
    }
  }
}

.main4 {
  background-color: #EFF0F0;
  margin-top: 20px;
  padding-bottom: 30px;

  .card {
    &:hover {
      opacity: 0.7;
    }
  }
}



.dog-icon {
  margin-top: 40px;
  width: 100%;
  text-align: center;

  .fa-dog {
    color: #0b2345;

  }

  .fa-dog:hover {
    opacity: 0.7;
  }
}