// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.log {
  height: 20px;
  width: 20px;
  padding: 0;
}

.doggy_log {
  width: 200px;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 5px;
}

.fa-paw {
  padding-right: 5px;
}

.logs {
  padding: 5px;
}

nav {
  border-bottom: solid 1px gray;

}


.list_nav {
  margin: 0 auto;
  width: 75%;
}

.newdogg {
  cursor: pointer;

}

.modal-title {
  color: #0b2345;
}

.btn-secondary {
  color: black;
  background-color: white;
}

.btn-primary {
  background-color: #0b2345;
  border: #0b2345;

  &:hover {
    background-color: #0b2345;
    opacity: 0.7;
  }
}

.navbar {
  padding: 25px 200px;


  span {
    font-size: 20px;
  }

  .navbar-brand {
    font-size: 35px;
  }

  .nav-item {

    font-size: 13px;

  }

  .nav-link {
    opacity: 1;
  }

  .form-inline {
    height: 25px;
    width: 200px;

  }

  .form-control {
    height: 25px;
    width: 200px;
    font-size: 12px;
    background-color: #E4E4E4;
    opacity: 0.3;
  }
}


.header_second {

  .fader {
    padding-bottom: 40px;
    width: 100%;
    background-color: rgba(11, 35, 69, 0.9);
    position: absolute;
    z-index: 3;
  }


}







.hide {
  display: none;
}

.nav {
  padding: 10px;

  .nav-item {
    .nav-link {
      color: white;
      margin-left: 10px;

      &:hover {
        color: #E4E4E4;
        opacity: 0.7;
      }
    }
  }
}

.img_layer {
  display: flex;
  width: 80%;
  margin: 0 auto;



  .min_image {
    flex: auto;
    height: 100px;

    &:hover {
      opacity: 0.7;
    }
  }
}

@media(max-width: 1000px) {
  .img_layer {
    flex-wrap: wrap;

    .min_image {
      width: 50%;
    }
  }
}


.icon_layer {
  display: flex;
  width: 50%;
  margin: 0 auto;
  padding: 20px 0px;

  a {
    color: white;
    display: inline-block;
    margin: 0 auto;
  }

  .fas {
    opacity: 0.8;
  }
}

@media(max-width: 1000px) {
  .icon_layer {
    flex-wrap: wrap;

    .fas {
      width: 50%;
    }
  }
}

.carousel-inner {
  height: 520px;

  .carousel-item {
    height: 520px;
  }

  img {
    height: 520px;
    object-fit: cover;
  }
}

.titles {
  text-align: center;
  padding: 40px;
  font-size: 30px;
  font-weight: 10;
  color: #010A17;
}



.row {
  padding-bottom: 40px;

}

.main1 {


  .card-img-overlay {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;

    .arrow_icon {
      padding-left: 43px;
      padding-top: 40px;
    }
  }

  .under_line {
    border-bottom: solid 1px #E4E4E4;
  }
}

.main2 {
  padding-bottom: 60px;

  .col-md-4 {
    padding: 0 100px;

    .card {
      &:hover {
        opacity: 0.7;
      }
    }
  }

  .user1 {
    padding-right: 0px;
    padding-left: 200px;
  }

  .user3 {
    padding-right: 200px;
    padding-left: 0px;
  }
}

.main3 {
  background-color: #E4E4E4;
  padding-bottom: 50px;

  .card {
    &:hover {
      opacity: 0.7;
    }
  }
}

.main4 {
  background-color: #EFF0F0;
  margin-top: 20px;
  padding-bottom: 30px;

  .card {
    &:hover {
      opacity: 0.7;
    }
  }
}

.btn-block {
  width: 200px;
  background-color: #285ca6;
  border: none;

  &:hover {
    background-color: #285ca6;
    opacity: 0.7;
  }
}

.dog-icon {
  margin-top: 40px;
  width: 100%;
  text-align: center;

  .fa-dog {
    color: #0b2345;

  }

  .fa-dog:hover {
    opacity: 0.7;
  }
}

.footer {
  height: 120px;

  background-color: #0b2345;

  padding-top: 35px;

  .list-inline {
    text-align: center;

    .list-inline-item {
      color: white;
      font-size: 12px;
      padding: 0px 20px;
      margin: 0;

      a {
        text-decoration: none;
        color: white;

        &:hover {
          opacity: 0.7;
        }
      }

    }

    .list-inline-item+.list-inline-item {
      border-left: solid 1px gray;

    }
  }

  .footer_last {
    padding-top: 5px;
    width: 200px;
    color: gray;
    font-size: 5px;
    margin: 0 auto;
  }

}