.post {
  background-color: #EFF0F0;



  .post__mainContent {
    padding-top: 20px;



    .post_row_left {
      margin-top: 30px;


      .post__user {
        display: flex;

        .post__user-name {
          margin-left: 5px;

          .post__user-name_user {
            font-weight: bold;
            font-size: 12px;
            margin-bottom: 2px;
            margin-top: 5px;
          }

          .post__user-name_dog {
            font-size: 10px;
            font-weight: bolde;
            color: gray;
          }
        }
      }

      .post__pickedUser {
        background-color: white;
        padding: 5px;

        .post__pickedUser-title {
          display: flex;

          .osusume {
            font-size: 14px;
            color: gray;
          }

          .subete {
            text-decoration: none;
            font-size: 14px;
            color: black;
            display: inline-block;
            margin: 0 0 0 auto;

            &:hover {
              color: black;
            }
          }
        }

        .post__pickedUser-user {
          display: flex;
          margin-bottom: 5px;

          .user_name {
            line-height: 32px;
            color: black;
            text-decoration: none;
            display: inline-block;
            margin-left: 5px;

            &:hover {
              color: black;
            }

          }
        }
      }
    }

    .post_row_right {
      margin-top: 30px;




      .post__maincontent-posts {
        background-color: white;
        padding: 15px;

        margin-bottom: 30px;

        .post__maincontent-posts-title {
          height: 32px;
          display: flex;

          .user_name {
            color: black;
            text-decoration: none;
            line-height: 32px;
            margin-left: 5px;

            margin-right: 15px;

            &:hover {
              color: black;
            }
          }

          .fa-ellipsis-v {
            color: gray;
            line-height: 32px;

            &:hover {
              color: gray;
            }
          }
        }

        .post__maincontent-posts-image {
          margin: 0;
          text-align: center;

          img {
            margin-top: 20px;

          }
        }

        .post__maincontent-posts-icons {
          margin-top: 15px;

          .post__maincontent-posts-icons-a {
            margin-left: 10px;
            color: gray;

            &:hover {
              color: gray;
            }

          }
        }

        .post__maincontent-posts-text {
          margin-bottom: 10px;
          margin-top: 10px;

          .tuzuki {
            font-size: 10px;
            color: gray;


            &:hover {
              color: gray;
            }
          }
        }

        .post__maincontent-posts-comments {


          .post__maincontent-posts-comments-comment {
            border: solid gray 1px;
            padding: 5px;
            margin-bottom: 8px;
            border-radius: 10px;

            .post__maincontent-posts-comments-comment-text {
              padding-left: 37px;
            }

            .post__maincontent-posts-comments-comment-user {
              display: flex;

              .user_name {
                color: black;
                text-decoration: none;
                line-height: 34px;
                margin-left: 5px;
                font-weight: bold;

                &:hover {
                  color: black;
                }
              }
            }


          }
        }

        .oritatamu {
          font-size: 12px;
          color: gray;
          display: inline-block;
          margin-bottom: 5px;

          &:hover {
            color: gray;
          }
        }

        .post__maincontent-posts-commentform {
          padding-bottom: 5px;

          input {
            border: none;
            width: 100%;
          }
        }
      }
    }
  }


}