.usersLogin {
  background-color: #EFF0F0;
  padding-top: 70px;
  height: 100vh;

  .footer_modifier {
    height: calc(100vh - 190px)
  }





  .change-form_register {
    background-color: white;
    width: 350px;
    margin: 15px auto;
    padding: 5px 40px;
    display: flex;

    p,
    a {

      font-size: 13px;
      margin: 10px 0;
    }

    a {
      padding-left: 2px;
    }
  }

  .register-form {
    background-color: white;
    width: 350px;
    margin: 0 auto;
    padding: 20px 40px;
    padding-top: 30px;

    .input-form {
      text-align: center;
      width: 100%;

      .btn {
        width: 100%;
      }

      .doggy_logo {
        height: auto;
        width: 70%;
        margin-bottom: 40px;
      }
    }



    .form-control {
      font-size: 10px;
    }

    .mataha {
      color: gray;
      margin-top: 10px;

      span {
        font-size: 12px;
      }
    }

    .facebook_a {
      text-decoration: none;
      color: #1877f2;
      font-size: 12px;


      &:hover {
        color: #1877f2;
      }

      .facebook-login {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 8px;
        margin-top: 12px;

        .facebook_logo {
          height: 23px;
          width: auto;
        }
      }


    }


  }
}