  <ul class="nav list_nav">
    <li class="nav-item">
      <a class="nav-link newdogg" data-toggle="modal" data-target="#myModal">新規Dogg</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="dog_list" data-fader="0">Dogg一覧</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="pick_up" data-fader="1">pick up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="shop" data-fader="2">shop</a>
    </li>
  </ul>
