<div class="fader hide" id="pick_up_fader" data-fader="1">
  <div class="img_layer">
    <img class="min_image" src="assets/puppy_cut">
    <img class="min_image" src="assets/pag_cut">
    <img class="min_image" src="assets/puppy_cut">
    <img class="min_image" src="assets/pag_cut">
  </div>
  <div class="img_layer">
    <img class="min_image" src="assets/pag_cut">
    <img class="min_image" src="assets/puppy_cut">
    <img class="min_image" src="assets/pag_cut">
    <img class="min_image" src="assets/puppy_cut">
  </div>
</div>
