  <div class="fader hide" id="shop_fader" data-fader="2">
    <div class="icon_layer">
      <a href="#">
        <i class="fas fa-bone fa-5x"></i>
        Foods
      </a>
      <a href="#">
        <i class="fas fa-cut fa-5x"></i>
        Groomers
      </a>
      <a href="#">
        <i class="fas fa-tshirt fa-5x"></i>
        Clothes
      </a>
      <a href="#">
        <i class="fas fa-baseball-ball fa-5x"></i>
        Toys
      </a>
    </div>

  </div>
